/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
  font-family: Verdana, Arial, sans-serif;
  margin: 2em;
}

h1 {
  margin: 1em 0em;
  font-weight: bold;
  font-size: 160%;
}

h2 {
  margin: 1em 0em;
  font-weight: bold;
  font-size: 140%;
}

p {
  margin: 1em 0px;
}

.score {
  vertical-align: top;
  font-size: 24pt;
  font-weight: bold;
  padding-right: 0.7em;
}

.accepted .score {
  color: green;
}

.post {
  padding-bottom: 4em;
}

.question .post {
  padding-bottom: 0px;
}

.post p:first-child {
  margin-top: 0px;
}

.comments {
  margin-top: 3em;
  border-top: 1px dotted grey;
}

.comments p {
  border-bottom: 1px dotted lightgrey;
  padding: 0.4em 0px;
  font-size: 80%;
}

blockquote {
  background-color: #EEE;
  padding: 1em;
}

code,
pre {
  font-family: monospace;
}
